* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url('./09blur.png');
    background-size: 100%;
    transition: 1s;
}

.input-resultado {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    margin: 15px 38px;
    gap: 10px 0;
    align-self: center;
}

.calc {
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
    text-align: center;
}

.radius {
    /* CSS do Input Círculo Começa aqui */
    /* CSS do Input Círculo Começa aqui */
    /* CSS do Input Círculo Começa aqui */
    display: flex;
    scale: 0.7;
}

label.number-radius {
    text-align: center;
    padding: 8px 6px;
    background-color: rgb(57, 0, 57);
    text-transform: uppercase;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    border-radius: 10px 0 0 10px;
}

#number-radius {
    background: none;
    padding: 6.8px;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 13.5px);
    -webkit-backdrop-filter: blur( 13.5px);
    border-radius: 0px 10px 10px 0;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.side {
    /* CSS do Input Quadrado Começa aqui */
    /* CSS do Input Quadrado Começa aqui */
    /* CSS do Input Quadrado Começa aqui */
    display: flex;
    scale: 0.7;
}

#number-side {
    background: none;
    padding: 6.8px;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 13.5px);
    -webkit-backdrop-filter: blur( 13.5px);
    border-radius: 0px 10px 10px 0;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

label.number-side {
    text-align: center;
    padding: 8px 6px;
    background-color: rgb(57, 0, 57);
    text-transform: uppercase;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    border-radius: 10px 0 0 10px;
    /*CSS do Input Quadrado acaba aqui*/
    /*CSS do Input Quadrado acaba aqui*/
    /*CSS do Input Quadrado acaba aqui*/
}

.triangle-bh {
    /* CSS do Input Triangulo começa aqui */
    /* CSS do Input Triangulo começa aqui */
    /* CSS do Input Triangulo começa aqui */
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

label.number-base {
    text-align: center;
    padding: 9px 6px;
    background-color: rgb(57, 0, 57);
    text-transform: uppercase;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    border-radius: 10px 0 0 10px;
}

.bh {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.base,
.height {
    display: flex;
    scale: 0.7
}

#number-base {
    background: none;
    padding: 6.8px;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 13.5px);
    -webkit-backdrop-filter: blur( 13.5px);
    border-radius: 0px 10px 10px 0;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

label.number-height {
    text-align: center;
    padding: 8px 6px;
    background-color: rgb(57, 0, 57);
    text-transform: uppercase;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    border-radius: 10px 0 0 10px;
}

#number-height {
    background: none;
    padding: 6.8px;
    background: rgba( 255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 13.5px);
    -webkit-backdrop-filter: blur( 13.5px);
    border-radius: 0px 10px 10px 0;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    /*CSS do Input Triangulo acaba aqui*/
    /*CSS do Input Triangulo acaba aqui*/
    /*CSS do Input Triangulo acaba aqui*/
}

.result-calc {
    height: 50px;
    min-height: 20%;
    max-height: max-content;
    display: flex;
    text-align: center;
    margin: 0 9.9%;
    justify-content: center;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #000000;
    background-color: rgb(163, 163, 163);
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    animation: expandir 3s;
    transition: 2s;
    align-items: center;
}

.result {
    display: grid;
    width: 80%;
    margin: 0 10%;
    height: 100%;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    background-color: rgb(57, 0, 57);
    text-transform: uppercase;
    border: none;
    padding: 8px;
    border-radius: 10px 10px 0 0;
}

.check {
    display: grid;
    width: 80%;
    margin: 0 10%;
    height: 100%;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    background-color: rgb(57, 0, 57);
    text-transform: uppercase;
    border-radius: 10px;
}

.span-contexto {
    display: flex;
    margin: 0 50%;
    justify-content: center;
}

.aba-resultado {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.titulo {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: rgb(57, 0, 57);
    -webkit-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    font-size: 1.5rem;
    color: #f0f0f0;
}

.blur {
    background-image: url('./09.png');
    background-size: 100%;
    transition: 1s;
}

.btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.btn-menu {
    outline: none;
    border: none;
    background: rgb(57, 0, 57);
    width: 80%;
    padding: 10px 20px;
    color: white;
    transition: 1s ease-in;
    border-radius: 8px;
}

.btn-menu:hover {
    background: rgb(172, 0, 172);
    transition: 0.1s ease-in-out;
}

.hidden {
    display: none;
    transition: 2s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu li input {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 1s;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid grey;
}

.menu li input:hover {
    -webkit-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    transition: 1s ease-in-out;
}


/* Mostra o conteúdo quando o item está expandido */

.menu li:not(.hidden) {
    max-height: 100%;
    animation: expandir 2s forwards;
}


/* Altura máxima para a animação */

@keyframes expandir {
    from {
        max-height: 0;
        transition: 2s ease-in-out;
    }
    to {
        max-height: 100px;
        transition: 2s ease-in-out;
    }
}

@media (max-width: 270px) {}