* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url('./09.png');
    background-size: 100%;
}

.blur {
    filter: blur(20px);
    filter: brightness(2px);
}

.btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-menu {
    outline: none;
    border: none;
    background: rgb(57, 0, 57);
    width: 80%;
    padding: 10px 20px;
    color: white;
    transition: 1s ease-in;
}

.btn-menu:hover {
    background: rgb(172, 0, 172);
    transition: 0.1s ease-in-out;
}

.hidden {
    display: none;
    transition: 2s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.menu li input {
    width: 80%;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 1s;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid grey;
}

.menu li input:hover {
    -webkit-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 7px 37px 0px rgba(0, 0, 0, 1);
    transition: 1s ease-in-out;
}


/* Mostra o conteúdo quando o item está expandido */

.menu li:not(.hidden) {
    max-height: 100px;
    animation: expandir 2s forwards;
}


/* Altura máxima para a animação */

@keyframes expandir {
    from {
        max-height: 0;
        transition: 2s ease-in-out;
    }
    to {
        max-height: 100px;
        transition: 2s ease-in-out;
    }
}