* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

[contexto="circle"] {
    background-image: url('./270px_Prancheta.png');
    background-size: 100%;
    transition: 1s;
}

[contexto="square"] {
    transition: 1s;
    background-image: url('./Sem\ título-1_Prancheta\ 1.png');
    background-size: 100%;
}

[contexto="triangle"] {
    background-image: url('./triangulo_Prancheta\ 1.png');
    background-size: 100%;
    transition: 1s;
}

[contexto="rectangle"] {
    background-image: url('./retangulo_Prancheta\ 1.png');
    background-size: 100%;
    transition: 1s;
}

[contexto="circle"] {
    background-image: url('./270px_Prancheta.png');
    transition: 1s;
}

.btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-menu {
    outline: none;
    border: none;
    background: rgb(57, 0, 57);
    width: 80%;
    padding: 10px 20px;
    color: white;
}

.btn-menu:hover {
    background: rgb(172, 0, 172);
    transition: 0.1s ease-in-out;
}

.hidden {
    display: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    /* Transição suave da altura */
    max-height: 0;
}

.menu li input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}


/* Mostra o conteúdo quando o item está expandido */

.menu li:not(.hidden) {
    max-height: 100px;
    /* Altura máxima para a animação */
}